<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.katool.security.auth.mapper.KaSecurityUserMapper">

    <resultMap id="BaseResultMap" type="cn.katool.security.auth.model.entity.KaSecurityUser">
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="passWord" column="pass_word" jdbcType="VARCHAR"/>
            <result property="userRole" column="user_role" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,pass_word,
        user_role,is_delete,created_time,
        update_time
    </sql>
    <sql id="swtich">
        <choose>
            <when test="dateUnit == 'day'">
                DATE_FORMAT(created_time,'%m-%d')
            </when>
            <when test="dateUnit == 'month'">
                DATE_FORMAT(created_time,'%y-%m')
            </when>
            <when test="dateUnit == 'year'">
                DATE_FORMAT(created_time,'%y')
            </when>
        </choose>
    </sql>
    <select id="getAllByCreateTimeIncGraphs" resultType="cn.katool.security.auth.model.graph.IncGraphNode">
        select
        <include refid="swtich"></include>
        as 'column',count(*) as 'value'
        from ka_security_user where created_time > DATE_SUB(now(),INTERVAL  #{num} ${dateUnit})
        group by <include refid="swtich"></include>
        order by  `column`
    </select>
</mapper>
